<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="navbar navbar-dark" style="background-color:darkslategray;">
        
        <a href="{% url 'index' %}" class="navbar-brand">Rated</a>


        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">
                Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown"> 
                    <a href="{% url 'index' %}" class="dropdown-item">Home</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'new-project' %}" class="dropdown-item">Post Project</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'create-profile' %}" class="dropdown-item">Create Profile</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'profile' %}" class="dropdown-item">View Profile</a>
                    <div class="dropdown-divider"></div>
                    <a href="/accounts/password/change" class="dropdown-item">Change Password</a>
                    <div class="dropdown-divider"></div>
                    <a href="/logout" class="dropdown-item">Logout</a>
                    
                </div>
        </li>
        {% else %}
            <a href="/accounts/login" class="btn btn-default">Login</a>
        {% endif %}
            
            <form action="{% url 'search_results' %}" class="form-inline" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Project" name="project">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </form>
        </nav>
    </body>
    </html>