{% extends 'all-rated/base.html' %}

{% block content %}
{{block.super}}
<div class="container">
    <div class=col-lg-8>
        <div class="jumbotron">
            <h1 class="text-center">Welcome to Rated</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            {% for project in projects %}
            <div class="card-deck">
                <div class="card">
                  <img class="card-img-top" src="{{ project.landing_page.url }}" alt="GitHub Search App">
                  <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
                </div>
            </div>
            <br>
            <br>
            {% endfor %}
        </div>
    </div>
    
</div>
{% endblock %}