{% extends 'all-rated/base.html' %}

{% block content %}
{{block.super}}
<div class="container">
    <div class="row">
        {% if projects %}
            <h2>Found <em>{{projects|length}}</em> results of the searched term <em>{{message}}</em></h2>
        {% else %}
            <h2>Found 0 projects for the searched term {{message}}</h2>
        {% endif %}
    </div>
    <div class="row">
        {% if projects %}
            {% for project in projects %}
                <div class="col-md-10">
                    <img src="{{ project.landing_page.url }}" alt="Project Landing Page" class="img-fluid">
                    <h2>{{project.title}}</h2>
                    <h4>{{project.description}}</h4>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}